/* TODO(you): Write the CSS to finish the assignment! */

.choice-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choice-grid div {
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  flex-basis: 32.5%;
  flex-shrink: 1;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

.choice-grid img:first-child {
  width: 100%;
}

@media(max-width: 700px) {
  header div {
    display: none;
  }
  article {
    width: 95%;
  }
}

@media(max-width: 500px) {
  article {
    width: 95%;
  }
  .choice-grid div {
    flex-basis: 49%;
  }
}

.choice-grid .chosen {
  background-color: #cfe3ff;
}

.choice-grid .unchosen {
  opacity: 0.6;
}

.restart-btn {
  background-color: #cecece;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.restart-btn:hover {
  background-color: #e0e0e0;
}

.conclusion-title {
  font-weight: bold;
  margin: 0;

}

.conclusion-content {
  margin: 18px 0;
  font-size: small;
}

.conclusion {
  padding: 20px;
  margin: 20px 0;
}

.hidden {
  display: none;
}